extends layout

block content
	section.panel
		#c-slide.carousel.slide.auto.panel-body(style='height: 445px;')
			ol.carousel-indicators.out
				li(data-target='#c-slide', data-slide-to='0')
				li(data-target='#c-slide', data-slide-to='1')
				li(data-target='#c-slide', data-slide-to='2')
			.carousel-inner
				.item.active.row
					p.text-center
						.col-xs-3.text-right
							h2.animated.fadeInLeftBig
								strong.text-white 8
								span.font-thin
									| Meet the
									br
									| Team
							p.animated.fadeInUpBig.hidden-xs
								| Five Princetonians,
								br
								| one lonely Cornelian.
						.col-xs-1
							img.animated.fadeInRightBig.m-r-lg(src='images/stockTeam.jpg')
				.item.next.row
					p.text-center
						.col-lg-7
							img.animated.fadeInleftBig(src='images/sherrerd.jpg', style='float: right;')
						.col-lg-3text-left
							h2.animated.fadeInRightBig
								strong.text-black Princeton
								span.font-thin
									br
									| University
							p.animated.fadeInUpBig
								| Home of the tigers,
								br
								| birthplace of entrepreneurs.
			a.left.carousel-control(href='#c-slide', data-slide='prev')
				i.icon-angle-left
			a.right.carousel-control(href='#c-slide', data-slide='next')
				i.icon-angle-right
	.panel
		.wrapper
				header.panel-heading.font-bold About TweetStreet
				.panel-body
					| TweetStreet lets you buy and sell shares in today’s social media currency, Twitter’s “hashtags.” Once you’ve created a profile and received your beginning allotment of currency, you can look up any hashtag, see relevant information about that hashtag’s usage and choose to invest. Purchasing shares in hashtags works just like purchasing shares on the stock market. Prices are based on the current usage of the hashtag and change dynamically as more or fewer shares are owned. Profile support and sitewide leaderboards are also provided, allowing users to see their personal financial status as well as the status of other users on the site.
				footer.panel-footer
					em
						small.text-muted
							| TweetStreet was created for the 2013 HackPrinceton. It was created over the span of 48 hours by the work of Jamie Downey, David Gilhooley, Tony Jin, Christine Li, Lisha Ruan, and Keshav Varma.
							br
							| HackPrinceton is organized by Princeton's Entrepreneurship Club.

