<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Lance Goodridge"/>
  <title>Archive</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="buttons.css">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono|Lusitana' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1> Archive </h1>
	<div class="content">
    <% for (var i = 0; i < data.stories.length; i++) { %>
      <div class='title'> <%= data.stories[i].title %><h2>
      </h2></div>
      <div class='text'>
        <%= data.stories[i].parts[0] %> <%= data.stories[i].parts[1] %>
      </div>
      <% }; %>
  </div>
  <div class="tracker" id="tracked">
    <button type="button" id="homeButton" class="button" style="margin-bottom: 7px;">HOME</button><br/>
    <button type="button" class="no-click" style="margin-bottom: 7px;">ARCHIVE</button><br/>
    <button type="button" id="newStory" class="button">START NEW</button>
  <div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="database.js"></script>
  <script src="user_input.js"></script>
  <script src="tracker.js"></script>
</body>
</html>