h1 {
	font-family: 'Share Tech Mono';
	font-size: 80px;
}

.name {
	width: 65%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	/*border-bottom: 8px;
	border-right: 4px;
	border-left: 4px;
	border-style: solid;
	border-color: rgb(95, 95, 95); */
	margin-bottom: 15px;
}
.content {
	background: rgb(207, 180, 122);
	background: rgb(255, 255, 255);
	/* border: 10px; */
	
/*	border-right: 10px;
	border-bottom: 10px;
	border-style: solid;
	border-color: rgb(95, 95, 95); */
	width: 60%;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 60px;
}

.text {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: Lusitana;
	font-size: 60px;
}

.title {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.form {
	width: 70%;
	font-family: Lusitana;
	font-size: 35px;
	/* border-style: solid; */
/*	border: 5px;
	border-color: rgb(83, 80, 111);
	border-style: solid; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.button {
	width: 100px; height: 40px; color: white; shadow: none; border: none;
} 