<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Blake Lawson, Lance Goodridge, Ben Leizman"/>
  <title>Finished Stories</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="jumbotron">
    <div class="container">

    	<div id="storiesContainer">
    		<h1>Your Finished Stories</h1>
    	</div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="user_input.js"></script>
  <script src="database.js"></script>
  <script src="page_generator.js"></script>
</body>
</html>