<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Lance Goodridge"/>
  <title>Finished Stories</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="buttons.css">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono|Lusitana' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1> Your Finished Stories </h1>
	<div class="content">
    <div class="text">
    Story 1: first part
    <br>Story 2: first part
    <br>Story 3: first part
  <br>Story 4: first part
<br>Story 5: first part
<br>Story 6: first part
<br>Story 7: first part
<br>Story 8: first part
<br>Story 9: first part
<br>Story 10: first part
<br>Story 11: first part
<br>Story 12: first part
<br>Story 13: first part
<br>Story 14: first part</div></div>
  <div class="tracker" id="tracked">
    <button type="button" id="archiveButton" class="button" onmouseover="buttonColorChange()">ARCHIVE</button><br/>
    <button type="button" id="newStory" class="button">START NEW</button>
  <div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="user_input.js"></script>
  <script src="tracker.js"></script>
</body>
</html>