<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Blake Lawson, Lance Goodridge, Ben Leizman"/>
  <title>addlibs</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
<body>
  <div>
    <!-- The page title -->
  </div>
  <div>
    
  </div>
  <div id="interactions">
    <input type="text" name="inputBox"/>
    <input type="button" value="Send"/>
  </div>
</body>
</html>
