<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8"/>
	  <meta name="author" content="Blake Lawson, Lance Goodridge, Ben Leizman"/>
	  <title>addlibs</title>
	  <link rel="stylesheet" type="text/css" href="style.css">
	  <link rel="stylesheet" type="text/css" href="buttons.css">
	  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono|Lusitana' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1> AddLibs </h1>
		<div class="content">
			<div class="title">
				<h2> "<%= data.title %>" </h2>
			</div>
			<div class="text">
				...<%= data.last %>...
			</div>
			<div class="forms">
				<div id="counter" class="counter"> 0 / 40 </div>
				<input type="text" id="inputBox" class="form" placeholder="Add to the story." maxlength="40">
        		<button type="button" id="sendButton" class="submitButton"> > </button>
			</div>
		</div>

		<div class="tracker" id="tracked">
      <button type="button" id="homeButton" class="button" style="margin-bottom: 7px;">HOME</button><br/>
		  <button type="button" id="archiveButton" class="button" style="margin-bottom: 7px;">ARCHIVE</button><br/>
		  <button type="button" id="newStory" class="button" style="margin-bottom: 7px;">START NEW</button>
		<div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="user_input.js"></script> 
	</body>
</html>