extends layout

block content
	div(style="height:100%;")
		section.hbox(style='position: relative; top: 20%;')
			section
				.row
					.col-lg-4(style='margin-top: -7px; margin-right: -37px;')
						span.pull-right(style='font-size: 50px;')
							span.text-info.dker tweet
							span.text-white.dker.font-bold st
					.col-lg-4
						form.navbar-form.pull-left(action="/stock", method="get", role='search', style='margin-bottom: 20px; width: 500px;')
							.form-group
								.input-group.input-m
									input.form-control.input-m.dk.text-dark(type='text', name="q", placeholder='#search', style='height: 50px; font-size: 20px;')
									span.input-group-btn
										button.btn.btn-md.btn-icon.bg-info.dker(type='submit', style='width: 50px; height: 50px;')
											i.icon-search
				.row
					.col-lg-12
						.panel.col-lg-offset-2(style='width: 800px; margin-top: 10px;')
							header.panel-heading.font-bold Search away!
							.panel-body
								| Look for up and coming hashtags in the box above! You'll be presented with the relevant information about each tag to help you make your choice. Purchase and sell ones you find promising, and unleash your inner hipster to spot trends before they become mainstream.


block head
	style
		.wrapper {
			background-color: grey;
		}