extends layout
block content

	section.panel
		.panel-body
			table.table.table-striped.m-b-none.text-sm
				thead
					tr								
						th(width='50%') Member
						th(width='25%') Balance
						th(width='25%') Member Since
				tbody
					for leader in leaders
						tr							
							td= leader.name
							td= '$' + commafy(leader.balance.toFixed(2))
							td= Date.create(leader.since).format('{Month} {d}, {yyyy}')
							