<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="David Gilhooley, Blake Lawson"/>
	<title>New | AddLibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="buttons.css">
	<link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono|Lusitana' rel='stylesheet' type='text/css'>
</head>
<body style="background: rgb(122, 204, 207)">
	<h1> New </h1>
	<div class="content">
		<div class="forms"><br>
			<input type="text" id="titleBox" class="form" placeholder="Title your story." maxlength="40">
			<input type="text" id="newstory-box" class="form" placeholder="Get the story started!" maxlength="40">
			<p id="error-msg" class="error-msg"> Both fields need to be filled out, ya dumb! </p>
			<p><button type="button" class="button" id="submitNewStory">SUBMIT</button>
		</div>
		<div class="tracker" id="tracked">
			<button type="button" id="homeButton" class="button" style="margin-bottom: 7px;">HOME</button><br/>
			<button type="button" id="archiveButton" class="button" style="margin-bottom: 7px;">ARCHIVE</button><br/>
			<button type="button" class="no-click" style="background: #0099cc; margin-bottom: 7px;">START NEW</button>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<script src="user_input.js"></script> 
</body>
</html>