!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Register | TweetStreet
		meta(name='description', content='app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
		link(rel='stylesheet', href='css/animate.css', type='text/css')
		link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
		link(rel='stylesheet', href='css/font.css', type='text/css', cache='false')
		link(rel='stylesheet', href='css/plugin.css', type='text/css')
		link(rel='stylesheet', href='css/app.css', type='text/css')
		//if lt IE 9
			script(src='js/ie/respond.min.js', cache='false')
			script(src='js/ie/html5.js', cache='false')
			script(src='js/ie/fix.js', cache='false')
		//if lt IE 9
			script(src='js/ie/respond.min.js', cache='false')
			script(src='js/ie/html5.js', cache='false')
			script(src='js/ie/fix.js', cache='false')
		//if lt IE 9
			script(src='js/ie/respond.min.js', cache='false')
			script(src='js/ie/html5.js', cache='false')
			script(src='js/ie/fix.js', cache='false')
		//if lt IE 9
			script(src='js/ie/respond.min.js', cache='false')
			script(src='js/ie/html5.js', cache='false')
			script(src='js/ie/fix.js', cache='false')
		//if lt IE 9
			script(src='js/ie/respond.min.js', cache='false')
			script(src='js/ie/html5.js', cache='false')
			script(src='js/ie/fix.js', cache='false')
	body
		

		section#content.wrapper-md.animated.fadeInUp(style="padding-top:25px;background-color: rgb(71, 71, 71);")
			a.nav-brand(href='index.html') 
				img(src="/images/logo.gif", style="max-height: 30px;")
			.row.m-n
				.col-md-4.col-md-offset-4.m-t-lg
					section.panel
						header.panel-heading.text-center Sign up
						form.panel-body(method='post', action='/register')
							.form-group
								label.control-label Username
								input.form-control(name="email", placeholder='test@example.com')
							.form-group
								label.control-label Name
								input.form-control(name="name", placeholder='Your Name')
							.form-group
								label.control-label Password
								input#inputPassword.form-control(name="password", type='password', placeholder='Password')
							.form-group
								label.control-label Confirm Password
								input#inputPassword.form-control(name="password2", type='password', placeholder='Password')							
							button.btn.btn-info(type='submit') Register														
							.line.line-dashed
							p.text-muted.text-center
								small Already have an account?
							a.btn.btn-white.btn-block(href='/login') Login
	

			footer#footer(style="color:white")
				.text-center.padder.clearfix
					p
						small
							span Web app framework based on Bootstrap
							br
							span &copy; 2013		
		script(src='js/jquery.min.js')
