<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Blake Lawson"/>
	<title>Story | AddLibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="buttons.css">
	<link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono|Lusitana' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1> Story </h1>
	<div class="content">
		<div class="title">
			<h2><%= data.title %></h2>
		</div>
		<div class="story">
			<% for (var i = 0; i < data.parts.length; i++) { %>
			<%= data.parts[i] %> 
			<% }; %>
		</div>
	</div>
	<div class="tracker" id="tracked">
		<button type="button" id="homeButton" class="button" style="margin-bottom: 7px;">HOME</button><br/>
	    <button type="button" id="archiveButton" class="button" onmouseover="buttonColorChange()" style="margin-bottom: 7px;">ARCHIVE</button><br/>
	    <button type="button" id="newStory" class="button">START NEW</button>
  	<div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="user_input.js"></script>
	<script src="pressEnterForHome.js"></script> 
</body>
</html>
