<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Blake Lawson"/>
	<title>addlibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
	<div class="container" >
		<div class="story" id="showStory">
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
					<h2><%= data.title %> </h2>
				</div>
				<div class="col-lg-3">
					<button type="button" class="btn btn-primary" id="sendButton">Get New Story</button>
				</div>
			</div>
    		<p>
    			<strong>The story thus far:</strong>
    			<p><%= data.story %></p>
    		</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-9"></div>
			<div class="col-lg-3">
				<p>Send me the final story!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9"></div>
			<div class="col-lg-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Enter your email here">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary">Submit</button>
					</span>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
	

	<script src="database.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  	<script src="bootstrap.min.js"></script>
</body>
</html>