.tracker {
	position: fixed;
	top: 200px;
	right: 10.31%;
	width: 10%;
	height: 30%;
	display: inline-block;
}


#archiveButton {
	background: #ff3311;
}

#homeButton {
	background: #222222;
}

#newStory {
	background: #0099cc;
}

.no-click {
	font-size: 12px;
	font-weight: bold;
	width: 100px;
	height: 40px; 
	color: white; 
	shadow: none; 
	border: none;
}

.button {
	font-size: 12px;
	font-weight: bold;
	width: 100px;
	height: 40px; 
	color: white; 
	shadow: none; 
	border: none;

	cursor: pointer; 
	cursor: hand;
} 

.submitButton {
	font-family: Lusitana;
	font-size: 30px;
	color: white;
	display: inline-block;
	margin-left: 10px;
	border: none;
	width: 57px;
	height: 50px;
	border-radius: 15px;
	background-color: #55ff22;
}