body {
	background: rgb(122, 204, 207);
}

h1 {
	font-family: 'Share Tech Mono';
	font-size: 80px;
	text-align:center; 
	color: white; 
	margin-bottom: 0px;
}

h2 {
	font-family: Lusitana; 
	font-size: 40px;
	margin-bottom:10px; 
	margin-top:5px;
}

.name {
	width: 65%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.content {
	background: rgb(207, 180, 122);
	background: rgb(255, 255, 255);
	width: 60%;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 60px;
}

.text {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: Lusitana;
	font-size: 60px;
}

.title {
	width: 90%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.story {
	width: 90%;
	margin-right: auto;
	margin-left:  auto;
	margin-bottom:30px;
	text-align:   left;
	text-indent:  30px;
	font-family: Lusitana;
	font-size: 30px;
}

.form {
	width: 80%;
	font-family: Lusitana;
	font-size: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.forms {
	display: inline-block;
	width: 100%;
	text-align: left;
}

.counter {
	font-size: 22px;
	color: rgb(145, 27, 27);
	display: inline-block;
	/* background: gray; */
	font-family: Lusitana;
	font-weight: bold;
	width: 70px;
	padding-left: 5px;
}

.empty {
	background: rgb(122, 204, 207);
	width: 100%;
	height: 50px;
	display: inline-block;
}

.archive a {
	font-family: Lusitana;
	font-size: 40px;
	text-decoration: none;
}

.archive {
	padding-left: 40px;
	font-family: Lusitana;
	font-size: 20px;
}

#newStory {
	background: #0099cc;
}